@page "/"

<h1 class="logo">🔥 Blazing Receipts</h1>
<div class="row mt-3" />
<div class="row">
    <div class="text-danger">
        <h2 class="font-weight-bold">"Show us your receipt and we'll show you the money!"</h2>
        <p>
            Upload your receipts and use the Receipt Understanding Microsoft Cognitive Service to automatically read it.
        </p>
        <p>
            The results will be displayed side by side the receipt scan, so you can see how well the recognition worked.
        </p>
    </div>
</div>
